apiVersion: v1
kind: Service
metadata:
  name: productpage
  namespace: bookinfo-dev
  labels:
    app: productpage
spec:
  type: ClusterIP
  ports:
  - port: 9080
    name: http
  selector:
    app: productpage