apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: bookinfo-dev
  labels:
    app: mongodb
spec:
  type: ClusterIP
  ports:
  - port: 27017
    name: mongo
  selector:
    app: mongodb