services:
  details:
    build:
      context: ./details
      dockerfile: Dockerfile
    image: details-service:v1
    ports:
      - "8080:8080"
    environment: 
      ENABLE_EXTERNAL_BOOK_SERVICE: true
      DO_NOT_ENCRYPT: true

  productpage:
    build:
      context: ./productpage 
      dockerfile: Dockerfile
    image: productpage-service:v1
    ports:
      - "3000:3000"

  ratings:
    build:
      context: ./ratings
      dockerfile: Dockerfile
    image: ratings-service:v2
    ports:
      - "5000:5000"
    environment:
      - SERVICE_VERSION: v2
      - MONGO_DB_URL: mongodb://db:27017/ratings
        MONGODB_USERNAME: USERNAME
        MONGODB_PASSWORD: PASSWORD
      - MONGO_DB_NAME: ratings
    depends_on:
      - db

  db:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGODB_ROOT_PASSWORD: PASSWORD
      MONGODB_USERNAME: USERNAME
      MONGODB_PASSWORD: PASSWORD
      MONGODB_DATABASE: ratings
    volumes:
      - mongo-data:/data/db

  reviews:
    build:
      context: ./reviews
      dockerfile: Dockerfile
    image: reviews-service:v1
    ports:
      - "9080:9080"

volumes:
  mongo-data:
    driver: local